@import "maplibre-gl/dist/maplibre-gl.css";

@import "swiper/swiper.scss";
@import "swiper/modules/a11y/a11y.scss";
@import "swiper/modules/navigation/navigation.scss";
@import "swiper/modules/scrollbar/scrollbar.scss";

@import "photoswipe/dist/photoswipe.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-none {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }

  .scrollbar-none::-webkit-scrollbar { /* Safari and Chrome */
    width: 0;
    height: 0;
    display: none;
  }
}

@layer components {
  details > summary {
    list-style: none;
  }

  details > summary::-webkit-details-marker {
    display: none;
  }

  /* Some basic styles for user generated HTML */
  .alveus-ugc {
    h1,
    h2,
    h3 {
      @apply font-bold my-3 text-xl;
    }

    h4 {
      @apply font-bold my-3 text-lg;
    }

    h5,
    h6 {
      @apply font-bold my-3;
    }

    p,
    ul,
    ol {
      @apply my-3;
    }

    ul {
      @apply ml-7 list-disc;
    }

    ol {
      @apply ml-7 list-decimal;
    }

    li {
      @apply my-1;
    }
  }

  /* Rich text editor (Quill.js) */
  .alveus-rte {
    .ql-editor {
      min-height: 400px;
    }
  }
}
