@import "swiper/swiper.scss";
@import "swiper/modules/a11y.scss";
@import "swiper/modules/navigation.scss";
@import "swiper/modules/scrollbar.scss";

@import "photoswipe/dist/photoswipe.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-none {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }

  .scrollbar-none::-webkit-scrollbar {
    /* Safari and Chrome */
    width: 0;
    height: 0;
    display: none;
  }
}

@layer components {
  details > summary {
    list-style: none;
  }

  details > summary::-webkit-details-marker {
    display: none;
  }

  /* Some basic styles for user generated HTML */
  .alveus-ugc,
  .alveus-rte .ql-editor {
    @apply font-sans text-base;

    h1,
    h2,
    h3 {
      @apply my-3 text-xl font-bold;
    }

    h4 {
      @apply my-3 text-lg font-bold;
    }

    h5,
    h6 {
      @apply my-3 font-bold;
    }

    p,
    ul,
    ol {
      @apply my-3;
    }

    ul {
      @apply ml-7 list-disc pl-0;
    }

    ol {
      @apply ml-7 list-decimal pl-0;
    }

    li {
      @apply my-1;
    }
  }

  /* Rich text editor (Quill.js) */
  .alveus-rte {
    @apply w-full rounded-sm border border-gray-700;

    .ql-editor {
      padding: 0 20px;
      min-height: 200px;

      a[href] {
        @apply text-blue-500 underline;
      }
    }

    .ql-toolbar.ql-snow {
      @apply flex flex-row;

      .ql-formats:last-child {
        margin-left: auto;
        margin-right: 0;
      }
    }
  }

  .alveus-sat-pswp {
    @apply w-[80%] overflow-hidden;

    .pswp__alveus-caption {
      @apply text-lg;
    }
  }
}

.pswp {
  @apply font-sans;

  &__alveus-caption {
    @apply absolute bottom-0 left-1/2 w-fit max-w-[calc(100%-80px)] -translate-x-1/2 bg-black/80 p-4 leading-tight text-white empty:hidden;
  }
}
