@import "tailwindcss";
@import "@alveusgg/data/build/tailwind.css";

@plugin "./text-stroke.ts";
@plugin "./range-slider.ts";

/* FIXME: https://github.com/tailwindlabs/tailwindcss/discussions/15253 */
@theme inline {
  --font-sans:
    var(--font-ptsans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif:
    var(--font-ptserif), ui-serif, Georgia, Cambria, "Times New Roman", Times,
    serif;
}

@theme {
  --animate-spin-slow: spin 3s linear infinite;
  --animate-pulse-slow: pulse 8s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  --animate-wiggle-slow:
    wiggle-slow-rotate 10s ease-in-out infinite,
    wiggle-slow-scale 10s ease-in-out infinite 3s;

  @keyframes wiggle-slow-rotate {
    0%,
    100% {
      rotate: 0deg;
    }
    50% {
      rotate: 1deg;
    }
  }

  @keyframes wiggle-slow-scale {
    0%,
    100% {
      scale: 1;
    }
    50% {
      scale: 1.025;
    }
  }
}

@layer base {
  html {
    &.stream {
      @apply !bg-transparent !bg-none;
    }
  }
}

@layer components {
  /* Some basic styles for user generated HTML */
  .alveus-ugc,
  .alveus-rte .ql-editor {
    @apply font-sans text-base;

    h1,
    h2,
    h3 {
      @apply my-3 text-xl font-bold;
    }

    h4 {
      @apply my-3 text-lg font-bold;
    }

    h5,
    h6 {
      @apply my-3 font-bold;
    }

    p,
    ul,
    ol {
      @apply my-3;
    }

    ul {
      @apply ml-7 list-disc pl-0;
    }

    ol {
      @apply ml-7 list-decimal pl-0;
    }

    li {
      @apply my-1;
    }
  }

  /* Rich text editor (Quill.js) */
  .alveus-rte {
    @apply w-full rounded-xs border border-gray-700;

    .ql-editor {
      padding: 0 20px;
      min-height: 200px;

      a[href] {
        @apply text-blue-500 underline;
      }
    }

    .ql-toolbar.ql-snow {
      @apply flex flex-row;

      .ql-formats:last-child {
        margin-left: auto;
        margin-right: 0;
      }
    }
  }

  .alveus-community-map {
    .maplibregl-popup-content {
      padding: 3px 6px !important;
    }

    .maplibregl-popup-tip {
      display: none;
    }
  }
}

@utility scrollbar-none {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  &::-webkit-scrollbar {
    /* Safari and Chrome */
    width: 0;
    height: 0;
    display: none;
  }
}

@utility sr-only-linkable {
  @apply sr-only relative m-0 -mt-px -ml-px overflow-clip;

  font-size: 0;
  line-height: 0;
}

@utility animation-delay-* {
  animation-delay: calc(--value(integer, [integer]) * 1ms);
}

@utility pixelated {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

@utility h-screen {
  @supports (height: 100dvh) {
    height: 100dvh;
  }
}

@utility w-screen {
  @supports (width: 100dvw) {
    width: 100dvw;
  }
}
