# Explicitly set the default registry to npmjs.org
# Stops Dependabot using its GitHub Packages registry definition for everything
registry=https://registry.npmjs.org

# Use the GitHub Packages registry for @alveusgg packages
@alveusgg:registry=https://npm.pkg.github.com
