CF_CLOUDFLARE_API_TOKEN=
CF_CLOUDFLARE_ACCOUNT_ID=

ORIGIN=http://host.docker.internal:8787

CAM_USERNAME=
CAM_PASSWORD=
ALVEUS_AUTH_ISSUER=https://www.alveussanctuary.org

CF_CLOUDFLARE_STREAM_HOST=
CF_CLOUDFLARE_SIGNED_ACCESS_KEY_ID=
CF_CLOUDFLARE_SIGNED_ACCESS_KEY_JWK=


CONTROL_API_HOST=http://localhost
CONTROL_API_PORT=1229
CONTROL_WS_PORT=3130
CONTROL_API_KEY=

MTX_MANAGER_SECRET=