# Set to true to enable sandbox mode in donation providers (twitch charity, paypal), where applicable.
SANDBOX=true

# The URL at which the server is running. This is used for things like webhook callbacks, so it should be the public URL
# of the server if it's running in production.
SELF_URL=http://localhost:8787

# Twitch charity integration
TWITCH_CHARITY_NAME="Alveus Sanctuary"

# PayPal integration
PAYPAL_BUSINESS_EMAIL=donate@alveussanctuary.org

# Neon CRM integration
NEON_CRM_BASE_URL=https://api.neoncrm.com/v2/
NEON_CRM_ORG_ID=alveussanctuary
NEON_CRM_API_KEY=
NEON_CRM_LOCAL_TIMEZONE=America/Chicago

NEON_CRM_WEBHOOK_USERNAME=neon
NEON_CRM_WEBHOOK_PASSWORD=

NEON_DONATION_DISPLAY_NAME_CUSTOM_FIELD_ID=95
NEON_PIXEL_CAMPAIGN_ID=2

# This is both the way to identify pixels in the database/TRPC calls, and also a key for the PixelManager Durable Objects.
MURAL_ID=two

# This is a URL to a JSON file containing the grid configuration for the pixel mural.
# See src/managers/pixels.ts for more details on the expected format of this JSON file.
GRID_URL=http://localhost:8787/pixels/example-grid

# The base URL of the website serving as the TRPC backend API.
SITE_URL=https://preview.alveus.gg

# This is the secret key used to validate requests to the TRPC API. Use the same value as defined in the
# TRPC_API_SHARED_KEY environment variable in the .env file of the website (apps/website/.env).
SHARED_KEY=

# Vercel's protection bypass secret. This is used to bypass Vercel's protection when making requests to the website.
# See https://vercel.com/docs/deployment-protection/methods-to-bypass-deployment-protection/protection-bypass-automation#configuring-protection-bypass-for-automation for more information.
OPTIONAL_VERCEL_PROTECTION_BYPASS=

# Secret to validate Twitch EventSub webhook subscription requests. Must be an ASCII string that is at least 10 characters long.
# See https://dev.twitch.tv/docs/eventsub/handling-webhook-events/#verifying-the-event-message for more information.
TWITCH_SUBSCRIPTION_SECRET=

# Optional: Sentry DSN to enable Sentry error reporting
SENTRY_DSN=

# Optional: Sentry Release ID
SENTRY_RELEASE=
