# dependencies
/.pnp
.pnp.js

# testing
/coverage

# generated assets (web manifest, service worker)
/public/site.webmanifest
/public/RootServiceWorker.js*
/public/push/alveus/*
/public/robots.txt
/public/sitemap.xml
/src/data/generated/

# database
/prisma/db.sqlite
/prisma/db.sqlite-journal

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# vercel
.vercel
