# generated assets (web manifest, service worker)
/public/site.webmanifest
/public/RootServiceWorker.js*
/public/push/alveus/
/public/robots.txt
/public/sitemap.xml

# next.js
/.next/
/.swc/
/out/
next-env.d.ts

# production
/build/

# vercel
/.vercel/

# trpc types
/dist/trpc.d.ts
