services:
  db:
    image: mysql:8
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: alveusgg_secret
    volumes:
      - db:/var/lib/mysql

  s3:
    image: minio/minio:latest
    ports:
      - 9000:9000
      - 9001:9001
    environment:
      MINIO_ROOT_USER: alveusgg_key
      MINIO_ROOT_PASSWORD: alveusgg_secret
    command: server /data --console-address ":9001"
    post_start:
      - command: sh -c "/usr/bin/mc mb local/alveusgg --ignore-existing; /usr/bin/mc anonymous set download local/alveusgg;"
        environment:
          - MC_HOST_local=http://alveusgg_key:alveusgg_secret@localhost:9000
    volumes:
      - s3:/data

volumes:
  db:
  s3:
