name: "Deploy"
on:
  push:
    branches:
      - "main"
      - "preview"
    paths:
      - "apps/donations/**"
      - "package.json"
      - "pnpm-lock.yaml"
      - "pnpm-workspace.yaml"
      - ".github/workflows/deploy.yml"

jobs:
  deploy:
    name: Deploy (${{ env.ALVEUS_ENVIROMENT }})
    runs-on: ubuntu-latest
    environment: ${{ env.ALVEUS_ENVIRONMENT }}
    if: github.repository == 'alveusgg/alveusgg`
    timeout-minutes: 10
    env:
      ALVEUS_ENVIRONMENT: ${{ (github.ref == 'refs/heads/main' && 'production') || 'preview' }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .nvmrc
          cache: pnpm

      - name: Authenticate GitHub Package Registry
        run: echo "//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}" >> ~/.npmrc

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Deploy Donations Worker
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
        run: cd apps/donations/worker && pnpm exec wrangler deploy --env=$ALVEUS_ENVIRONMENT --outdir dist --var SENTRY_DSN:$SENTRY_DSN --var SENTRY_RELEASE:${{ github.sha }}

      - name: Create Sentry release for Donations Worker
        uses: getsentry/action-release@dab6548b3c03c4717878099e43782cf5be654289 # v3.5.0
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: alveus-sanctuary
          SENTRY_PROJECT: donations-worker
        with:
          ignore_missing: true
          ignore_empty: true
          inject: false
          release: ${{ github.sha }}
          environment: ${{ env.ALVEUS_ENVIRONMENT }}
          sourcemaps: apps/donations/worker/dist
          strip_common_prefix: true
