name: Sync from Public

on:
  schedule:
    - cron: "0 * * * *" # hourly
  workflow_dispatch:

permissions:
  actions: write
  contents: write

jobs:
  sync:
    if: github.repository == 'alveusgg/alveusgg-private'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout private repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.ref }}

      - name: Fetch public repo and push
        run: |
          BRANCH="${{ github.ref_name }}"
          git remote add upstream https://github.com/alveusgg/alveusgg.git
          git fetch upstream "$BRANCH"
          git push origin "upstream/$BRANCH:$BRANCH"
