name: Update pnpm

on:
  workflow_dispatch:
  schedule:
    # Run once per week on Monday at midnight, before Dependabot runs on Wednesday
    - cron: "0 0 * * 1"

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          run_install: false

      - name: Update pnpm
        id: update
        run: |
          echo "old=$(pnpm --version)" >> $GITHUB_OUTPUT
          pnpm self-update
          echo "new=$(pnpm --version)" >> $GITHUB_OUTPUT
          cat <<< $(jq '.engines.pnpm = "^" + (.packageManager | split("@")[1])' package.json) > package.json

      - name: Create PR
        if: steps.update.outputs.old != steps.update.outputs.new
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          token: ${{ secrets.GH_PR_TOKEN }}
          title: Bump pnpm from ${{ steps.update.outputs.old }} to ${{ steps.update.outputs.new }}
          body: |
            Generated via `pnpm self-update`.

            Check this workflow's logs at ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}.
          commit-message: Bump pnpm from ${{ steps.update.outputs.old }} to ${{ steps.update.outputs.new }}
          branch: automated/pnpm
